@keyframes fadeInUpOdd {
  from {
    opacity: 0;
    transform: rotateX(-35deg) rotateZ(-8deg) translate3d(10%, 50%, -15vw);
  }

  to {
    opacity: 1;
    transform: rotateX(0) rotateZ(0) translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: rotateX(-26deg) rotateZ(14deg) translate3d(-10%, 30%, -25vw);
  }

  to {
    opacity: 1;
    transform: rotateX(0) rotateZ(0) translate3d(0, 0, 0);
  }
}

.a-fade-in-up {
  animation-name: fadeInUp;
}

.a-fade-in-up-odd {
  animation-name: fadeInUpOdd;
}
