body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
}

a {
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

h1 {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (--tablet) {
    font-size: 60px;
  }

  @media (--desktop) {
    font-size: 90px;
  }
}
